<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>알고찾자</title>

  </head>

  <body>

   <nav class="header">
    	<div id="main-menu">
        	<ul>
        		<li><a href="">INFO</a></li>
        		<li><a href="">DOMESTIC</a></li>
        		<li><a href="">ABROAD</a></li>
        	</ul>
    	</div>
    </nav>
    
    <hr>
    
    <div class ="logo">
    	<p class="first">A</p>
    	<p class="second">l</p>
    	<p class="third">g</p>
    	<p class="fourth">o</p>
    	<p class="fifth">Search</p>
    </div> 
    
    <div id="search-form">
    	<form action="">
    		<label>논문 검색</label>
    		<input type="text" name="report" value="">
    		<input type="submit" value="search">
    	</form>
    </div>
    
    <div class="result-form">
    
    </div>
    <script type="text/javascript">
    </script>

  </body>

</html>
